
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}


body {
  min-width: 320px;

  font: normal @font-size-base-mob/@font-lheight-base-mob "Open Sans", "Verdana", sans-serif;
  color: @color-base;
}


html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


img {
  max-width: 100%;
  height: auto;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: @indet-out;
  padding-right: @indet-out;
}

.button {
  padding: 14px 48px;

  font: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 2px solid @color-base;

  &:hover,
  &:focus {
    color: #ffffff;

    background-color: @color-base;
  }

  &:focus {
    .no-outline;
  }

  &:active {
    .rgbaColorIn(#ffffff, 0.3);
    color: @result;
  }

  &--wide {
    display: block;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  &--slider {
    height: 50px;

    background: center no-repeat;

    border-width: 1px;
    border-color: @color-decore;

    & + .button--slider {
      border-left: none;
    }

    &:hover,
    &:focus {
      background-color: #ffffff;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--slider-next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &--slider-prev {
    background-image: url("../img/icon-left-arrow.svg");
  }
}

.mail-link {
  color: inherit;
  text-decoration: none;

  background-image: linear-gradient(to top, #62d1ba 0, transparent 1px, transparent 100%);

  &:hover,
  &:focus {
    color: #46c1ae;

    background-image: linear-gradient(to top, #46c1ae 0, transparent 1px, transparent 100%);
  }

  &:focus {
    .no-outline;
  }

  &:active {
    .rgbaColorIn(#46c1ae, 0.3);
    color: @result;

    .rgbaColorIn(#46c1ae, 0.1);
    background-image: linear-gradient(to top, @result 0, transparent 1px, transparent 100%);
  }
}

.toggle-button {
  width: 21px;
  height: 21px;
  padding: 10px;
  box-sizing: content-box;

  background: transparent url("../img/icon-menu-open.svg") center no-repeat;
  border: 0;

  &--open {
    background-image: url("../img/icon-menu-close.svg");
  }
}

.js-modal {
  overflow: hidden;
}


@media (min-width: @tablet-width) {
  .container {
    padding-left: @indet-out-tablet;
    padding-right: @indet-out-tablet;
  }

  .button {
    font-size: 17px;

    &--slider {
      padding-right: 43px;
      padding-left: 43px;

      background-color: #ffffff;
      border-color: transparent;
    }
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1250px;
    margin-right: auto;
    margin-left: auto;
    padding-left: @indet-out-desktop;
    padding-right: @indet-out-desktop;
  }
}
