
.about {
  padding-top: @indet-out;
  padding-bottom: @indet-out;
}

.about__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: @font-size-h2-mob;
  line-height: @font-lheight-h2-mob;
  color: black;
}
