
.about-list {
  list-style: none;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.about-list__item {
  margin-bottom: @indet-out;
}

.about-list__svg {
  display: block;

  fill: @color-theme;

  &--ecology {
    margin-left: 8px;
    margin-bottom: 18px;
  }

  &--profit {
    margin-bottom: 26px;
  }

  &--likes {
    margin-left: 7px;
    margin-bottom: 24px;
  }

  &--custom {
    margin-left: 4px;
    margin-bottom: 18px;
  }

  &--support {
    margin-left: -6px;
    margin-bottom: 28px;
  }

  &--package {
    margin-left: 3px;
    margin-bottom: 22px;
  }
}


@media (min-width: @tablet-width) {
  .about-list {
    column-count: 2;
    column-gap: 0;

    font-size: 20px;
    line-height: 22px;
  }

  .about-list__item {
    margin-bottom: 58px;
    padding-right: 30px;

    break-inside: avoid;
  }

  .about-list__svg {
    &--ecology {
      margin-bottom: 16px;
    }
  }
}
