
.catalog {
  margin-bottom: @indet-out;
  padding-top: @indet-out;
}


@media (min-width: @tablet-width) {
  .catalog {
    margin-bottom: @indet-out-tablet;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    margin-bottom: @indet-in-desktop - 25px;
  }
}
