
.contacts__wrapper {
  padding-top: 56px;
  padding-bottom: 40px;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 18px;
  color: black;
}

.contacts__list {
  width: 100%;
  margin-bottom: 22px;
}

.contacts__field {
  min-width: 72px;
  padding: 14px 10px 14px 0;
  vertical-align: top;
}

.contacts__value {
  padding: 14px 0 14px 0;
}

.contacts__map {
  height: 460px;
  margin-right: -@indet-out;
  margin-left: -@indet-out;
  margin-bottom: 36px;

  iframe {
    width: 100%;
    height: 100%;

    border: none;
  }
}

.contacts__send-email {
  margin: 0;
}


@media (min-width: @tablet-width) {
  .contacts__wrapper {
    padding-top: 142px;
    padding-bottom: 58px;
  }

  .contacts__title {
    position: relative;

    margin-bottom: 30px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";

      position: absolute;
      top: -15px;
      right: 2px;

      display: block;
      width: 47px;
      height: 81px;

      background: url("../img/icon-flag.min.svg")
    }
  }

  .contacts__list {
    margin-bottom: 40px;

    tbody {
      display: flex;
    }

    tr {
      flex: 0 0 50%;

      padding-right: 30px;
    }
  }

  .contacts__field {
    padding-right: 20px;
  }

  .contacts__map {
    margin-right: -@indet-out-tablet;
    margin-left: -@indet-out-tablet;
    margin-bottom: 50px;
  }

  .contacts__send-email {
    width: 230px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    display: flex;
    flex-direction: column;

    position: relative;

    min-height: 457px + 50px + 55px;
    padding-bottom: 105px;
    padding-left: @indet-out-desktop + 175px;
  }

  .contacts__title {
    margin-top: 90px;
    margin-right: 525px + 50px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -9px;
      right: unset;
      left: -112px;
    }
  }

  .contacts__list {
    flex-grow: 1;

    width: unset;
    margin-right: 525px + 50px;
    margin-bottom: 60px;

    tbody {
      flex-direction: column;
    }

    tr {
      padding-right: 0;
    }
  }

  .contacts__map {
    position: absolute;
    top: 162px;
    right: @indet-out-desktop;
    bottom: @indet-out-desktop;

    width: 525px;
    margin: 0;
  }

  .contacts__send-email {
    margin: 0;
  }
}
