
.contacts {
  padding-top: @indet-out;
  padding-bottom: @indet-out;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 18px;
  color: black;
}

.contacts__list {
  width: 100%;
  margin-bottom: 20px;
}

.contacts__field {
  padding: 15px 5px 15px 0;
  vertical-align: top;
}

.contacts__value {
  padding: 15px 0 15px 0;
}

.contacts__map {
  margin-bottom: 35px;

  iframe {
    width: 100%;
  }
}

.contacts__send-email {
  margin: 0;
}
