
.copyright__text {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;

  font-size: 19px;
  line-height: 19px;
  color: black;
}

.copyright__link {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;

  line-height: 0;

  svg {
    fill: @color-theme;
  }
}

@media (min-width: @tablet-width) {
  .copyright__link {
    padding: 0;
  }
}
