
.copyright__text {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;

  font-size: 19px;
  line-height: 19px;
  color: #000000;
}

.copyright__link {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;

  line-height: 0;

  &:hover,
  &:focus {
    .copyright__svg {
      fill: #46c1ae;
    }
  }

  &:focus {
    .no-outline;
  }

  &:active {
    .copyright__svg {
      .rgbaColorIn(#46c1ae, 0.3);
      fill: @result;
    }
  }
}

.copyright__svg {
  fill: @color-theme;
}


@media (min-width: @tablet-width) {
  .copyright__link {
    padding: 0;
  }
}
