
.custom {
  padding-top: 25px;
  padding-bottom: @indet-out * 2;
}

.custom__desc {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
}


@media (min-width: @tablet-width) {
  .custom {
    padding-top: 65px;
  }

  .custom__desc {
    margin-bottom: 55px;

    font-size: 17px;
    line-height: 30px;
  }
}
