
.filters-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters-list__item {
  &:not(:last-child) {
    margin-bottom: 21px;
  }

  &--radio {
    input[type="radio"] {
      &:checked + label::after {
        display: block;
      }

      &:active {
        & + label::before {
          border-color: #c7c7c7;
        }
      }
    }

    label {
      position: relative;

      display: inline-block;
      min-height: 40px;
      padding-top: 11px;
      padding-left: 62px;
      vertical-align: middle;

      &::before {
        content: "";

        position: absolute;
        top: 2px;
        left: 0;

        display: block;
        width: 40px;
        height: 40px;
        vertical-align: middle;

        border: 2px solid @color-grey-text;
        border-radius: 50%;
      }

      &::after {
        content: "";

        position: absolute;
        top: 14px;
        left: 12px;

        display: none;
        width: 16px;
        height: 16px;

        background-color: #62d1ba;
        border-radius: 50%;
      }
    }
  }

  &--checkbox {
    input[type="checkbox"] {
      &:checked + label::after {
        display: block;
      }

      &:active {
        & + label::before {
          border-color: #c7c7c7;
        }
      }
    }

    label {
      position: relative;

      display: inline-block;
      min-height: 40px;
      padding-top: 11px;
      padding-left: 62px;
      vertical-align: middle;

      &::before {
        content: "";

        position: absolute;
        top: 2px;
        left: 0;

        display: block;
        width: 40px;
        height: 40px;
        vertical-align: middle;

        border: 2px solid @color-grey-text;
      }

      &::after {
        content: "";

        position: absolute;
        top: 2px;
        left: 0px;

        display: none;
        width: 40px;
        height: 40px;

        background: url("../img/icon-tick.min.svg") center no-repeat;
        background-size: 22px 16px;
      }
    }
  }

  &--name {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}


@media (min-width: @tablet-width) {
  .filters-list {
    margin-left: 167px;
  }

  .filters-list__item {
    &--radio {
      label {
        min-height: 53px;
        padding-top: 18px;
        padding-left: 80px;

        &::before {
          top: 0;

          width: 52px;
          height: 53px;
        }

        &::after {
          top: 16px;
          left: 15px;

          width: 22px;
          height: 22px;
        }
      }
    }

    &--checkbox {
      label {
        min-height: 54px;
        padding-top: 17px;
        padding-left: 81px;

        &::before {
          width: 54px;
          height: 52px;
        }

        &::after {
          top: 8px;
          left: 7px;

          background-size: 33px 22px;
        }
      }
    }

    &--name {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 26px;
      }

      label {
        padding-right: 26px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .filters-list {
    margin-left: 0;
  }

  .filters-list__item {
    &--radio {
      label {
        &::after {
          top: 16px;
          left: 15px;
        }
      }
    }
  }
}
