
.filters-custom {
  padding-top: 7px;
}

.filters-custom__fieldset {
  margin: 0;
  padding: 0;

  border: none;
  border-top: 1px solid #62d1ba;

  &--type {
    padding-bottom: 35px;
  }

  &--color {
    padding-bottom: 44px;
  }

  &--name {
    padding-bottom: 38px;
  }

  &--phone {
    padding-bottom: 28px;
  }

  &--email {
    padding-bottom: @indet-out;
  }

  &--add {
    padding-bottom: 16px;
  }
}

.filters-custom__fieldset-wrapper {
  margin-top: -15px;
}

.filters-custom__legend {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  padding-right: 25px;

  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  color: @color-theme;
  text-transform: uppercase;

  background-color: #ffffff;
}

.filters-custom__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.filters-custom__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  &--radio,
  &--check {
    position: relative;

    display: inline-block;
    min-height: 40px;
    padding-top: 11px;
    padding-left: 62px;
    vertical-align: middle;

    &::before {
      content: "";

      position: absolute;
      top: 2px;
      left: 0;

      display: block;
      width: 40px;
      height: 40px;

      border: 2px solid @color-base;
    }

    &::after {
      content: "";

      position: absolute;

      display: none;
    }
  }

  &--radio {
    &::before {
      border-radius: 50%;
    }

    &::after {
      top: 14px;
      left: 12px;

      width: 16px;
      height: 16px;

      background-color: #62d1ba;
      border-radius: 50%;
    }
  }

  &--check {
    &::after {
      top: 2px;
      left: 0;

      width: 40px;
      height: 40px;

      background: url("../img/icon-tick.svg") center no-repeat;
      background-size: 22px 16px;
    }
  }
}

.filters-custom__input {
  &--check {
    &:checked + .filters-custom__label::after {
      display: block;
    }

    &:hover,
    &:focus {
      & + .filters-custom__label::before {
        border-color: @color-theme;
      }
    }

    &:active {
      & + .filters-custom__label::before {
        border-color: #c7c7c7;
      }
    }
  }

  &--text {
    width: 100%;
    padding: 11px 0 18px;

    font: inherit;
    font-size: 17px;
    line-height: 18px;

    border: 0;
    border-bottom: 2px solid #000000;

    &:hover,
    &:focus {
      border-color: #62d1ba;
    }

    &:focus {
      .no-outline;
    }
  }

  &--phone {
    background: url("../img/icon-phone.svg") top 5px right 7px no-repeat;

    &:hover,
    &:focus {
      background-image: url("../img/icon-phone-green.svg");
    }
  }

  &--email {
    background: url("../img/icon-mail.svg") top 5px right 5px no-repeat;

    &:hover,
    &:focus {
      background-image: url("../img/icon-mail-green.svg");
    }
  }

  &--message {
    width: 100%;
    min-height: 100px;
    padding: 15px;

    font: inherit;
    font-size: 17px;
    line-height: 1.24;

    border: 2px solid @color-base;

    resize: vertical;

    &:hover,
    &:focus {
      border-color: #62d1ba;
    }

    &:focus {
      .no-outline;
    }
  }
}

.filters-custom__sub {
  margin-top: 0;
  margin-bottom: @indet-out;

  font-size: 14px;
  line-height: 16px;
}

.filters-custom__button {
  margin-top: 0;
  margin-bottom: 0;
}


@media (min-width: @tablet-width) {
  .filters-custom {
    padding-top: 0;
  }

  .filters-custom__wrapper {
    padding-right: @indet-out-tablet;
    padding-left: @indet-out-tablet;

    &:nth-child(2n) {
      background-color: #f1f1f1;
    }
  }

  .filters-custom__fieldset-wrapper {
    display: flex;
  }

  .filters-custom__fieldset {
    position: relative;

    border-top: none;

    &--type {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &--color {
      padding-top: 65px;
    }

    &--name {
      padding-top: @indet-out-tablet;
      padding-bottom: @indet-out-tablet;
    }

    &--phone {
      padding-top: 65px;
      padding-bottom: 15px;
    }

    &--email {
      padding-top: 20px;
      padding-bottom: 50px;
    }

    &--add {
      padding-top: 65px;
      padding-bottom: 50px;
    }
  }

  .filters-custom__legend {
    flex: 0 0 167px;

    margin-top: 20px;
    padding-right: @indet-in-tablet;

    background-color: transparent;

    &--email {
      top: 26px;
    }
  }

  .filters-custom__list {
    &--color {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .filters-custom__item {
    &--color {
      flex: 1 0 40%;

      &:nth-child(2n) {
        padding-left: 10px;
      }
    }
  }

  .filters-custom__input {
    &--text {
      padding: 10px 16px 12px;

      font-size: 19px;
      line-height: 19px;
    }

    &--phone {
      margin-top: 0;

      background-position: top 9px right 26px;
    }

    &--email {
      margin-top: 0;

      background-position: top 8px right 22px;
    }

    &--message {
      margin-top: 0;
      padding-top: 12px;
      padding-bottom: 12px;

      font-size: 19px;
    }
  }

  .filters-custom__label {
    font-size: 19px;
    line-height: 19px;

    &--radio,
    &--check {
      min-height: 53px;
      padding-top: 18px;
      padding-left: 80px;
    }

    &--radio {
      min-height: 53px;
      padding-top: 18px;
      padding-left: 80px;

      &::before {
        top: 0;

        width: 52px;
        height: 53px;
      }

      &::after {
        top: 16px;
        left: 15px;

        width: 22px;
        height: 22px;
      }
    }

    &--check {
      min-height: 54px;
      padding-top: 17px;
      padding-left: 81px;

      &::before {
        width: 54px;
        height: 52px;
      }

      &::after {
        top: 8px;
        left: 7px;

        background-size: 33px 22px;
      }
    }

    &--name {
      padding-right: 26px;
    }
  }

  .filters-custom__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 50px;
    padding-left: 50px;
  }

  .filters-custom__sub {
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .filters-custom__button {
    flex: 0 0 230px;
    order: -1;

    margin-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .filters-custom__wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .filters-custom__fieldset {
    width: @desktop-width;
    margin: 0 auto;

    &--type {
      padding-right: 175px + @indet-out-desktop;
      padding-left: 165px;
    }

    &--color {
      padding-bottom: 28px;
      padding-right: 175px / 2 + @indet-out-desktop;
      padding-left: 165px;
    }

    &--name {
      padding-top: 65px;
      padding-right: 175px + @indet-out-desktop;
      padding-left: 165px;
    }

    &--phone {
      padding-right: 175px + @indet-out-desktop;
      padding-left: 165px;
    }

    &--email {
      padding-right: 175px + @indet-out-desktop;
      padding-left: 165px;
    }

    &--add {
      padding-right: 175px + @indet-out-desktop;
      padding-left: 165px;
    }
  }

  .filters-custom__legend {
    flex-basis: 110px;
  }

  .filters-custom__item {
    &--color {
      flex-basis: 30%;

      &:nth-child(2n) {
        padding-left: 0;
      }
    }
  }

  .filters-custom__input {
    &--phone {
      background-position: top 11px right 8px;
    }

    &--email {
      background-position: top 11px right 4px;
    }
  }

  .filters-custom__bottom-wrapper {
    width: @desktop-width;
    margin: 0 auto;
    padding-right: 175px + @indet-out-desktop;
    padding-left: 175px + @indet-out-desktop;
  }
}
