
.filters-list {
  list-style: none;
}

.filters-list__item {
  &:not(:last-child) {
    margin-bottom: 21px;
  }

  &--name {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}


@media (min-width: @tablet-width) {
  .filters-list {
    flex-grow: 1;

    margin-top: 0;
  }

  .filters-list__item {
    &--name {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 26px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .filters-list {
    margin-left: 0;
  }
}
