
.main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 21px;
}

.main-nav__list {
  display: none;
  padding-right: 0;
  padding-left: 0;

  background-color: white;

  &--open {
    display: block;
  }
}


@media (max-width: (@tablet-width - 1px)) {
  .main-nav__list {
    &--js {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 1;

      padding-right: @indet-out;
      padding-left: @indet-out;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    position: absolute;
    right: @indet-out-tablet;
    left: @indet-out-tablet;
    z-index: 1;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    background-color: transparent;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    right: 0;
    left: 0;

    width: 1050px;
    margin-right: auto;
    margin-left: auto;
  }
}
