
.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-link {
  display: inline-block;

  &[href]:hover,
  &:focus {
    svg {
      fill: #46c1ae;
    }
  }

  &:focus {
    .no-outline;
  }

  &[href]:active {
    svg {
      .rgbaColorIn(#46c1ae, 0.3);
      fill: @result;
    }
  }
}

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
}

.copyright__link {
  &:hover,
  &:focus {
    svg {
      fill: #46c1ae;
    }
  }

  &:focus {
    .no-outline;
  }

  &:active {
    svg {
      .rgbaColorIn(#46c1ae, 0.3);
      fill: @result;
    }
  }
}


@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: @indet-out-tablet;
    padding-bottom: @indet-out-tablet;
  }

  .page-footer__logo {
    flex: 0 0 30%;

    margin: 0;

    display: block;
  }

  .page-footer__social {
    flex: 0 0 30%;

    padding: 0;

    border-bottom: none;
  }

  .page-footer__copyright {
    flex: 0 0 30%;

    padding: 0;

    text-align: right;
  }
}
