
.page-heading {
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") top -20px center no-repeat;

  &.page-heading--inner {
    background: #f1f1f1;
  }
}

.page-heading__title {
  display: block;
  margin: 0;
  padding: 70px 30px 122px;

  font-weight: bold;
  font-size: 27px;
  text-align: center;
  color: #010000;

  &--inner {
    padding-top: 72px;
    padding-bottom: 76px;
  }
}

.page-heading__delivery-ticket {
  line-height: 24px;
}


@media (max-width: @tablet-width) {
  .page-heading__delivery-ticket {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: @tablet-width) {
  .page-heading__title {
    padding-top: 152px;
    padding-bottom: 373px;

    font-size: 43px;
    line-height: 50px;

    &--inner {
      padding-top: 94px;
      padding-bottom: 90px;
    }
  }

  .page-heading__delivery-ticket {
    position: absolute;
    top: 15px;
    right: @indet-out-tablet;
    z-index: 1;

    margin: 0;
  }

  .page-heading__catalog {
    padding-right: @indet-out-tablet;
    padding-left: @indet-out-tablet;
  }
}

@media (min-width: @desktop-width) {
  .page-heading__wrapper {
    position: relative;

    width: 1150px;
    margin-right: auto;
    margin-left: auto;
  }

  .page-heading__title {
    padding-bottom: 360px;

    font-size: 53px;
    line-height: 57px;

    &--inner {
      padding-bottom: 100px;
    }
  }
}
