
.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
}


@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 35px;
    padding-bottom: 28px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    border-bottom: none;
  }
}
