
.production {
  margin-bottom: @indet-out * 2;
  padding-top: 25px;
  padding-bottom: 25px;

  border: 1px solid @color-decore;
}

.production__title {
  margin: 0 25px 25px;
  padding-left: 20px + 32px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: black;
}

.production__video-wrapper {
  margin-bottom: 25px;

  iframe {
    display: block;
    width: 100%;
    height: auto;

    border: 0;
  }
}

.production__desc {
  margin-top: 0;
  margin-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;

  font-size: 13px;
  line-height: 24px;
}

.production__order-button {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 25px;
  padding-left: 25px;
}
