
.reviews-list {
  margin: 0 0 @indet-out;
  padding: 0;
  list-style: none;
}

.reviews-list__text {
  margin-top: 0;
  margin-bottom: 25px;
}

.reviews-list__author {
  margin-top: 0;
  margin-bottom: @indet-out;

  font-size: 17px;
}

.reviews-list__author-name {
  font-weight: bold;
  line-height: 24px;
  color: black;
}

.reviews__toggles {
  display: flex;

  width: 100%;
  margin-top: 0;
  margin-bottom: 35px;
}

.reviews__button-toggles {
  flex-grow: 1;
}

.reviews__feedback-button {
  margin-top: 0;
  margin-bottom: 0;
}
