
.site-list {
  margin: 0;
  list-style: none;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.site-list__item {
  &.site-list__item--desktop-only {
    display: none;
  }
}

.site-list__link {
  position: relative;

  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 45px;

  color: black;
  text-decoration: none;

  background-position: center left;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    .rgbaColorIn(black, 0.6);
    color: @result;

    svg {
      fill: @color-theme;
    }
  }

  &:focus {
    .no-outline;
  }

  &:active {
    .rgbaColorIn(black, 0.3);
    color: @result;

    svg {
      .rgbaColorIn(@color-theme, 0.3);
      fill: @result;
    }
  }

  svg {
    .rgbaColorIn(#231f20, 0.3);
    fill: @result;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}


@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;

    padding-right: 267px;
  }

  .site-list__item {
    display: inline-block;
    font-size: 15px;

    &.site-list__item--search {
      position: absolute;
      right: 264px;
      bottom: 100%;

      border-left: 1px solid @color-decore;
      border-right: 1px solid @color-decore;

      .site-list__link {
        padding: 0;
        width: 83px;
        height: 89px;

        background-position: center;
      }

      span {
        position: absolute;

        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;

        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    }

    &.site-list__item--cart {
      position: absolute;
      right: 0;
      bottom: 100%;

      width: 264px;

      font-size: 17px;

      .site-list__link {
        padding-top: 32px;
        padding-bottom: 33px;
        padding-left: 82px;
        padding-right: 0;

        background-position: center left 30px;
      }
    }

    &:first-child .site-list__link {
      margin-left: -16px;
    }
  }

  .site-list__link {
    padding: 17px;

    svg {
      left: 32px;
    }
  }
}


@media (min-width: @desktop-width) {
  .site-list {
    margin-left: -15px;
  }

  .site-list__item {
    &.site-list__item--desktop-only {
      display: block;
    }

    &.site-list__item--catalog {
      position: absolute;
      left: 0;
      bottom: 100%;

      width: 185px;

      font-size: 17px;

      .site-list__link {
        margin-left: -50px;
        padding: 32px 35px 33px 50px;

        border-right: 1px solid @color-decore;
      }
    }

    &.site-list__item--custom-made {
      position: absolute;
      left: 185px;
      bottom: 100%;

      font-size: 17px;

      .site-list__link {
        padding: 32px 35px 33px;
      }
    }

    &:nth-child(5) {
      .site-list__link {
        margin-left: -14px;
      }
    }
  }

  .site-list__link {
    padding-right: 30px;
    padding-left: 30px;
  }
}
