
.site-list {
  list-style: none;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.site-list__item {
  &--desktop-only {
    display: none;
  }
}

.site-list__link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 45px;

  color: #000000;
  text-decoration: none;

  &:hover,
  &:focus {
    .rgbaColorIn(#000000, 0.6);
    color: @result;
  }

  &:focus {
    .no-outline;
  }

  &:active {
    .rgbaColorIn(#000000, 0.3);
    color: @result;
  }
}


@media (min-width: @tablet-width) {
  .site-list {
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item {
    font-size: 15px;
  }

  .site-list__link {
    padding: 17px;

    &--catalog {
      margin-left: -16px;
    }
  }

  .site-list__svg {
    left: 32px;
  }
}


@media (min-width: @desktop-width) {
  .site-list {
    margin-left: -30px;
  }

  .site-list__item {
    &--desktop-only {
      display: block;
    }

    &--catalog {
      font-size: 17px;
    }

    &.site-list__item--custom-made {
      margin-right: 375px;

      font-size: 17px;

      .site-list__link {
        padding: 32px 35px 33px;
      }
    }

    &:nth-child(5) {
      .site-list__link {
        margin-left: -14px;
      }
    }
  }

  .site-list__link {
    padding-right: 30px;
    padding-left: 30px;

    &--catalog {
      margin-left: -20px;
      padding: 32px 35px 33px 50px;

      border-right: 1px solid @color-decore;
    }
  }
}
