
.social {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding-right: 0;
  padding-left: 0;
  list-style: none;
}

.social__item {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.social__item-link {
  display: block;
  padding: 6px 10px;

  line-height: 0;

  &:hover,
  &:focus {
    .social__item-svg {
      fill: #46c1ae;
    }
  }

  &:focus {
    .no-outline;
  }

  &:active {
    .social__item-svg {
      .rgbaColorIn(#46c1ae, 0.3);
      fill: @result;
    }
  }
}

.social__item-svg {
  fill: #231f20;
}
