
.week-goods__wrapper {
  display: flex;
  flex-direction: column;

  padding-top: 28px;
  padding-bottom: 42px;

  background: url("../img/bg-zigzag-line.svg") bottom center repeat-x;
  background-size: auto 7px;
}

.week-goods__title {
  margin-top: 0;
  margin-bottom: 23px;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @color-theme;
  text-transform: uppercase;
}

.week-goods__goods-title {
  order: -1;

  margin-top: 0;
  margin-bottom: 5px;

  font-weight: bold;
  font-size: @font-size-h2-mob;
  line-height: @font-lheight-h2-mob;
  color: #000000;
}

.week-goods__image {
  order: 5;

  margin-top: 0;
  margin-bottom: 25px;

  img {
    display: block;
    margin: 0 auto;
  }
}

.week-goods__desc {
  margin: 0;
  margin-bottom: 17px;

  line-height: 24px;
}

.week-goods__list {
  width: 100%;
  margin-top: 0;
  margin-bottom: 28px;

  line-height: 20px;

  border-collapse: collapse;

  tr {
    border-bottom: 1px solid @color-decore;
  }
}

.week-goods__field {
  padding: 9px 12px 10px 0;
}

.week-goods__value {
  padding: 9px 0 10px 0;
}

.week-goods__price {
  order: 6;

  margin-top: 0;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.week-goods__button-order {
  order: 7;

  margin-top: 0;
  margin-bottom: 0;
}


@media (min-width: @tablet-width) {
  .week-goods__wrapper {
    position: relative;

    min-height: 615px;
    padding-top: 35px;
    padding-bottom: 68px;

    background-size: auto 17px;
  }

  .week-goods__title {
    position: absolute;
    right: @indet-out-tablet + 25px;

    max-width: 80px;
    margin-top: 12px;
    margin-bottom: 0;

    line-height: 17px;
    text-align: center;
  }

  .week-goods__goods-title {
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .week-goods__image {
    position: absolute;
    top: 153px;
    right: @indet-out-tablet;

    margin-bottom: 0;

    img {
      width: 333px;
      height: 404px;
    }
  }

  .week-goods__desc {
    margin-right: 334px + 45px;
    margin-bottom: 32px;

    font-size: 17px;
    line-height: 30px;
  }

  .week-goods__list {
    display: block;
    padding-right: 334px + 45px;

    tbody {
      display: block;
      width: 100%;
    }

    tr {
      display: block;
      width: 100%;
    }
  }

  .week-goods__field {
    width: 90px;
    padding-right: 10px;
  }

  .week-goods__price {
    margin-top: auto;
    margin-right: 334px + 45px;
    margin-bottom: 35px;

    font-size: 20px;
  }

  .week-goods__button-order {
    margin-right: 334px + 45px;
  }
}

@media (min-width: @desktop-width) {
  .week-goods__wrapper {
    min-height: 795px;
    padding-top: 55px;
    padding-bottom: 95px;
    padding-left: @indet-out-desktop + 175px;

    background-size: auto 23px;
  }

  .week-goods__title {
    top: 139px;
    right: auto;
    left: 94px;

    max-width: none;
    width: 175px;
    margin-top: 0;
    padding-right: 30px;
    padding-left: 30px;
  }

  .week-goods__goods-title {
    margin-top: @indet-in-desktop;
    margin-bottom: 48px;

    font-size: 53px;
    line-height: 57px;
  }

  .week-goods__image {
    top: 70px;
    right: 100px;
    z-index: -1;

    img {
      width: 525px;
      height: 636px;
    }
  }

  .week-goods__desc {
    margin-right: 525px + @indet-in-desktop;
    margin-bottom: 46px;
  }

  .week-goods__list {
    padding-right: 525px + @indet-in-desktop;
  }

  .week-goods__price {
    margin-right: 525px + @indet-in-desktop;
  }

  .week-goods__button-order {
    margin-right: 525px + @indet-in-desktop;
  }
}
